:root {
  --background-color: #fff;
  --text-color: #000;
  /* --table-background-color: #fff; */
  /* --table-text-color: #000; */
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.ant-layout {
  background-color: var(--background-color);
  color: var(--text-color);
}


.ant-btn-primary {
  background-color: #fff !important;
  color: #000 !important;
  border: 1px solid #000; 
}

.ant-btn-primary:hover {
  background-color: #f0f0f0 !important; 
  color: #000 !important; 
}

/* .ant-table {
  background-color: var(--table-background-color); 
  color: var(--table-text-color); 
  transition: background-color 0.3s, color 0.3s;
} */

/* .ant-table-thead > tr > th {
  background-color: var(--table-background-color); 
  color: var(--table-text-color); 
} */

/* .ant-table-tbody > tr > td {
  background-color: var(--table-background-color); 
  color: var(--table-text-color); 
} */

.ant-modal {
  background-color: var(--background-color);
  color: var(--text-color);
}
